.ag-theme-quartz {
    --ag-foreground-color: #313131;
    --ag-background-color: white;
    --ag-header-foreground-color: white;
    --ag-header-background-color: #313131;
    --ag-odd-row-background-color: white;
    --ag-header-column-resize-handle-color: white;

    --ag-font-size: 17px;
    --ag-font-family: monospace;
}